.accordion {
    max-width: 10rem;
    margin: 0 0 0.5rem 0.5rem;
    background: #f1f1f1;
}

.accordion-visible {
    background: #7177ca;
    width: 100%;
    color: #fff;
    cursor: pointer;
    border: 1px solid #474d9b;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.accordion-visible span {
    padding: 0;
    font-size: 1rem;
}
.accordion-visible img {
    width: 20px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}
.accordion-visible img.active {
    transform: rotate(0deg);
}

.accordion-visible h2 {
    font-size: 20px;
}

.accordion-toggle {
    height: 10rem;
    font-size: 1rem;
    opacity: 0;
    transition:  
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
    color: #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.animated {
    opacity: 1;
    transition:  
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
}

.accordion-toggle p {
    font-size: 0.9rem;
    margin: 0;
    padding: 0.4rem 0.4rem;
    pointer-events: none;
    line-height: 1.3;
}
