.carousel {
    position: relative;
}

.widget-home img {
    width: 100%;
    height: auto;
}


.carousel-caption {
    position: absolute;
    top: 80%;
    transform: translateY(-80%);
    padding: 0.4rem 1.5rem;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
}
